{% extends "base.html" %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>SyllaTah API</h1>
    <p>Bienvenue sur L'API de SyllaTah</p>
    <p>SyllaTah est une application de Gestion full in One..puis ce qu'il permet de Gerer des hebergements, des Transports, des activites.., basée sur Git et GitHub.</p>

    {% comment %} <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> {% endcomment %}
  </div>
  </div>
{% endblock %}
